@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/opensanscondensed/v15/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuHMQg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/opensanscondensed/v15/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuHMQg.ttf) format('truetype');
}
@font-face {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Team Meat Font";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TeamMeatCyrillic.otf);
}
